body {
  background-image: url(/images/clocks.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
}
h1 {
  color: #392023;
  text-align: center;
  font-family: "Aboreto", cursive;
  font-weight: bolder;
  font-size: 36px;
}
.clock {
  margin: 0 4px;
  color: #51483f;
  font-size: 32px;
  animation-duration: 7.5s;
}

h2 {
  margin: 0 0 5px;
  font-size: 32px;
}
select {
  display: block;
  background-color: rgba(255, 255, 255, 0.521);
  font-family: "Playfair Display", serif;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
}
.container {
  font-family: "Playfair Display", serif;
  border: 1px solid black;
  max-width: 550px;
  margin: 60px auto;
  background-color: rgba(255, 236, 167, 0.672);
  padding: 20px 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.city {
  color: #352e28;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}

.date {
  opacity: 0.9;
}
.time {
  color: #5d503f;
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  color: #392023;
  background-color: rgba(255, 255, 255, 0.764);
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin: 60px auto;
  max-width: 600px;
  border-radius: 10px;
}
a {
  color: #574f42;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.back {
  color: #faf4ea;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  background-color: rgba(112, 98, 81, 0.7);
  font-size: 16px;
  text-align: center;
}
@media (max-width: 600px) {
  body {
    background-position: center;
  }
  .container {
    margin: 70px 12px 10px 12px;
    padding: 5px;
  }
  h1 {
    font-size: 30px;
  }

  select {
    padding: 5px 10px;
    font-size: 17px;
  }
  .city {
    font-size: 15px;
    padding: 20px 35px;
  }
  .date {
    display: none;
  }
  .time {
    font-size: 30px;
  }
  .back {
    padding: 2px 14px;
    font-size: 14px;
  }
  .flag {
    display: none;
  }
  footer {
    font-size: 13px;
    margin: 35px 12px;
  }
}
